certifi==2020.6.20
chardet==3.0.4
coinpaprika-client==1.1.2
decorator==4.4.2
gitdb==4.0.5
GitPython==3.1.13
idna==2.10
numpy==1.19.5
Pillow==8.1.0
pydash==4.9.2
PyYAML==5.4
requests==2.24.0
six==1.15.0
smmap==3.0.5
urllib3==1.25.10
validators==0.18.1
